* {
  box-sizing: border-box;
}

:root {
  --primary: #44e9ff;
  --secondary: #497980;
  --tertiary: rgb(192, 246, 253);
  --grey: #333;
  font-size: 62.5%;
}

body {
  background: #ededed;
  color: var(--grey);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background: var(--secondary);
  padding: 30px 25px;
  border-bottom: 5px solid var(--primary);
}

header p {
  color: var(--tertiary);
  margin: 5px 0 20px;
  font-size: 2rem;
}

p {
  font-size: 2.6rem;
  color: var(--secondary);
}
/*  doesn't do much
.start-quiz-setup {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
*/
/* form goes with endgame code */
form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

form input {
  outline: none;
  border: none;
  padding: 12px;
  width: 100%;
  font-size: 2.2rem;
  border: 2px solid var(--grey);
  border-radius: 12px;
}

form .form-group {
  margin: 10px 6px 10px 0;
  flex: 1;
}

footer {
  width: 100%;
  background: var(--secondary);
  color: var(--tertiary);
  font-size: 1.4rem;
  padding: 100px;
  border-top: 5px solid var(--primary);
}

.page-title {
  color: var(--primary);
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 4.5rem;
}

.page-content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px auto;
  width: 95%;
}

.quiz-list-wrapper {
  display: flex;
  flex: 1;
  margin: 0 20px 20px;
  max-width: 80%;
  border-color: yellow;
  box-shadow: 0 0 10px 2px;
}

.quizs-to-do {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.list-title {
  color: var(--secondary);
  font-size: 2.6rem;
}

.quiz-list {
  list-style: none;
  padding: 15px;
  background: rgb(238, 230, 230);
  border-radius: 12px;
  border: 2px solid var(--grey);
}

.quiz-item {
  color: var(--grey);
  padding: 15px 15px;
  border: 2px solid var(--grey);
  background: var(--tertiary);
  border-radius: 12px;
  margin-bottom: 20px;
}

.quiz-name {
  margin: 0;
  font-size: 1.8rem;
}

.quiz-type {
  color: var(--secondary);
  font-size: 1.55rem;
}
.quiz-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 0 5px 0;
  justify-content: space-between;
}

.quiz-actions button,
.quiz-actions select {
  flex: 1;
}

.btn {
  outline: none;
  border: none;
  display: inline-block;
  padding: 10px 15px;
  background: var(--primary);
  font-size: 2.2rem;
  border-radius: 12px;
  position: relative;
  top: -3px;
  box-shadow: 0 3px var(--grey);
}

.hide {
  display: none;
}

.btn:hover {
  box-shadow: 0 2px var(--grey);
  top: -2px;
  border-color: black;
}
.btn:active {
  box-shadow: 0 0px var(--grey);
  top: 0;
}

@media screen and (max-width: 980px) {
  form .form-group {
    flex: 1 100%;
  }

  form .form-group button {
    width: 100%;
  }

  .quiz-list-wrapper {
    flex-basis: 100%;
  }

}
