* {
  box-sizing: border-box;
}

:root {
  --primary: #44e9ff;
  --secondary: #497980;
  --tertiary: rgb(192, 246, 253);
  --grey: #333;
  font-size: 62.5%;
}

body {
  background: #ededed;
  color: var(--grey);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background: var(--secondary);
  padding: 30px 25px;
  border-bottom: 5px solid var(--primary);
}

p {
  font-size: 2.6rem;
  color: var(--secondary);
}

.page-title {
  color: var(--primary);
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 4.5rem;
  justify-content: center;
}

/* This is our main section */
.page-content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 25px auto;
  width: 95%;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* for the timer */
.timer-container {
  width: 25%;
  height: 100%;
}

/* for the displayed scores (not the button) */
#view-high-scores-container {
  display: flex;
  flex-flow: row wrap;
  width: 75%;
  padding: 10px;
}
/* for the displayed scores (not the button) */
#high-scores-container {
  width: 66%;
  padding: 10px;
}
/* for the displayed scores (not the button) */
#view-button-container {
  width: 33%;
  padding: 10px;
  justify-content: flex-end;
}

#quizs-to-do {
  gap: 10px;
  margin: 20px 0;
  list-style: none;
  padding: 15px;
  background: var(--tertiary);
  border-radius: 12px;
  border: 2px solid var(--grey);
}

.list-title {
  color: var(--secondary);
  font-size: 2.6rem;
}

.btn {
  outline: none;
  border: 1px;
  padding: 5px 10px;
  background-color: var(--secondary);
  color: white;
  font-size: 2.2rem;
  border-radius: 12px;
  position: relative;
  top: -3px;
  box-shadow: 0 3px var(--grey);
}


/* form goes with endgame code */
form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

form input {
  outline: none;
  border: none;
  padding: 12px;
  width: 40%;
  font-size: 2.2rem;
  border: 2px solid var(--grey);
  border-radius: 12px;
}

form .form-group {
  margin: 10px 6px 10px 0;
  flex: 1 100%;
}


footer {
  width: 100%;
  background: var(--secondary);
  color: var(--tertiary);
  font-size: 1.4rem;
  padding: 10px;
  border-top: 5px solid var(--primary);
}

.hide {
  display: none;
}

.btn:hover {
  box-shadow: 0 2px var(--grey);
  top: -2px;
  border-color: black;
}
.btn:active {
  box-shadow: 0 0px var(--grey);
  top: 0;
}

@media screen and (max-width: 980px) {


  form .form-group button {
    width: 100%;
  }

  .quiz-list-wrapper {
    flex-basis: 100%;
  }

  .page-title {
    margin-bottom: 0;
    font-size: 2.5rem;
  }

}

@media screen and (max-width: 550px) {

  form input {
    font-size: 1.5rem;
  }
}